
body {
    margin-left: 45px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 30px;
    font-family: "Times New Roman", serif;
    background-image: url(back.jpg);
    background-size: 100%;
}

p {
    margin-bottom: 20px;
    text-indent: 0px;
    text-align: left;
    font-size: 14pt;
}

.center {
    text-align: center;
    text-indent: 0px;
}

.medium_font {
    font-size: 18pt;
}

.big_font {
    font-size: 24pt;
}

.margin_top {
    margin-top: 50px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

ol {
    font-size: 14pt;
    margin-bottom: 20px;
    margin-top: 5px;
}

.rim {
    list-style-type: upper-roman;
}

ul {
    list-style-type: disc;
    font-size: 14pt;
    margin-bottom: 20px;
    margin-top: 5px;
}
